# Database
DATABASE_URL="postgresql://scash_bot:PASSWORD@localhost:5432/scash_bot?schema=public"


# 环境配置：development | production
NODE_ENV="development"

# Scash Node RPC
SCASH_RPC_URL="http://127.0.0.1:18443"
SCASH_RPC_USER="scash"
SCASH_RPC_PASS="scash"

# ZMQ 配置 - 监听区块和交易
ZMQ_BLOCK_URL=tcp://127.0.0.1:28444
ZMQ_TX_URL=tcp://127.0.0.1:28445

# App
PORT=5001
MASTER_KEY="g8FoY1KoeXqIVV5SByrq-bRdt9ZFQ3Dl"

# Telegram
TELEGRAM_BOT_TOKEN=""

# Mini App URL (用于分享到群组时的链接)
MINIAPP_URL=""

# 统筹账户配置
# 助记词（24个单词）
COORDINATION_ACCOUNT_MNEMONIC="

BLOCK_SYNC_START_HEIGHT=1